@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap');

$paper-height: 11in;
$paper-width: 8.5in;
$paper-margin: 0.75in;

$font-family: "IBM Plex Serif", serif;
$font-size: 10pt;
$base-font-weight: 400;
$bold-font-weight: 700;

// Play with these if needed to minmax onto 1 page
$line-height: 1.3rem; // vert dist between lines
$vspacer: 0.27rem; // vert dist between various elements

// 1in = 96px.
// So, for pixel checking in devtools, here are some values
// paper should be 816 x 1056
// contents should be 720 x 960 (that is, paper size - 2 * margin)
$contents-height: calc(#{$paper-height - 2 * $paper-margin});
$contents-width: calc(#{$paper-width - 2 * $paper-margin});

#paper {
  height: $paper-height;
  width: $paper-width;
  padding: $paper-margin;
  margin: 1rem auto;
  border: 1px solid;
  box-shadow: 4px 4px 0 gray;

	@media print {
		border: none;
    box-shadow: none;
    margin: 0;
	}
}

#margin-lines {
  border: 2px dotted #aaa;
  height: $contents-height;
  width: $contents-width;
  position: absolute;
  // make this a non-pointer-selectable element
  // this is needed because this element is positioned absolutely and on top of the contents
  // if this is not here, then things like text highlighting can't be done with mouse on contents
  pointer-events: none;
  z-index: 100;

	@media print {
		display: none;
  }
}

#contents {
  height: $contents-height;
  width: $contents-width;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $base-font-weight;
}

body {
  margin: 0;
}

h1,
h2,
h3,
dt,
.company-name {
  font-weight: $bold-font-weight;
}

ul, ol, dl {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: disc;
}

.section-title, .section-content, .company  {
  margin-top: 0;
  margin-bottom: $vspacer
}

.mb-0 {
  margin-bottom: 0;
}

.section-title {
  border-bottom: 1px solid black;
  width: 100%;
  display: block
}

#header {
  text-align: center;

  address {
    font-style: normal;
    display: grid;
    grid: auto-flow / 1fr 50% 1fr;

    .phone {
      justify-self: left;
    }
    .email {
      justify-self: right;
    }
  }

  .section-title {
    border-bottom: none;
  }
}

dl {
  display: grid;
  grid: auto-flow / 20% 80%;
}
dd {
  margin-inline-start: 0;
}
dt {
  font-weight: bold;
}

.position-statbox {
  display: grid;
  grid: auto-flow / repeat(2, max-content) 1fr max-content;
  align-items: baseline;
  .company-name {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .company-name, .location {
    margin-right: 1rem;
  }
  .title, .date, .location {
    font-style: italic;
  }
  & :nth-child(3), & :nth-child(4) {
    justify-self: right;
  }
}