@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap");

$sans-font: "IBM Plex Sans", sans-serif;
$serif-font: "IBM Plex Serif", serif;

@page {
  margin: 0.5in;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10pt;
  font-family: $sans-font;
}

body {
  max-width: 7.5in;

  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
dt,
.company-name {
  font-family: $serif-font;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

#header {
  text-align: center;

  address {
    font-style: normal;
    display: grid;
    grid: auto-flow / 1fr 50% 1fr;
    margin-bottom: 0.5rem;

    .phone {
      justify-self: left;
    }
    .email {
      justify-self: right;
    }
  }

  h1 {
    margin-bottom: 0;
  }
}

dl {
  display: grid;
  grid: auto-flow / 13rem 1fr;
}
dd {
  margin-inline-start: 0;
}
dt {
  font-weight: bold;
}

.statbox {
  display: grid;
  grid: auto-flow / repeat(2, max-content) 1fr max-content;
  align-items: end;
  .company-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .company-name {
    margin-right: 1rem;
  }
  .title {
    font-style: italic;
  }
  .date {
    margin-left: 1rem;
    font-style: italic;
  }
  & :nth-child(3), & :nth-child(4) {
    justify-self: right;
  }
}

.company {
  margin-bottom: 0.5rem;
}

.section-title {
  border-bottom: 1px solid black;
  width: 100%;
  display: block
}

.mb-0 {
  margin-bottom: 0;
}